pkgbase = glibc-git
	pkgdesc = GNU C Library, from git
	pkgver = 2.26.r1134.g1eeddc5854
	pkgrel = 1
	url = https://www.gnu.org/software/libc/
	install = glibc-git.install
	arch = i686
	arch = x86_64
	groups = base
	license = GPL
	license = LGPL
	makedepends = git
	depends = linux-api-headers
	depends = tzdata
	depends = filesystem
	optdepends = gd: graph image generation with memusage
	provides = glibc=2.26
	conflicts = glibc
	options = !strip
	options = staticlibs
	backup = etc/gai.conf
	backup = etc/nscd.conf
	source = git+https://sourceware.org/git/glibc.git
	source = locale-gen
	source = bz20338.patch
	sha256sums = SKIP
	sha256sums = 9aeb183376e7b31ffa007e073f005b1f5cade1399b9c910cb20513e4645fae14
	sha256sums = 959d4f41edd004bddd9091c4d8c8c3aa07d79a04bfdb89d59f9f26fe5a74d32a

pkgname = glibc-git

