pkgbase = systemrescuecd
	pkgdesc = Installs a rescue system into the boot partition to allow grub to boot it.
	pkgver = 5.2.2
	pkgrel = 1
	url = http://www.sysresccd.org
	install = systemrescuecd.install
	arch = i686
	arch = x86_64
	license = GPL
	depends = grub>=2.00
	backup = etc/default/systemrescuecd
	source = http://downloads.sourceforge.net/project/systemrescuecd/sysresccd-x86/5.2.2/systemrescuecd-x86-5.2.2.iso
	source = 25_systemrescuecd
	source = systemrescuecd
	sha256sums = 148bfbc16837d3e7ac13556f11b6a600bd6a88e98a8eb3a899d0fe243d826a3f
	sha256sums = 0aadc8a84195f00035c38a36692998206f6243e16921a14ae64ebf1541efae02
	sha256sums = cbe8134d8d68b250d5978884827e0ea9b0fa36b171539b29922fb156cd12ed89

pkgname = systemrescuecd

